pipeline/Incremental_Pipeline_Example_01.json
{
	"name": "Incremental_Pipeline_Example_01",
	"properties": {
		"activities": [
			{
				"name": "GET_highwatermark_timestamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "High_water_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Fetch_latesttimestamp_from_ds",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GET_highwatermark_timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ModifiedDate) as RecordDate from saleslt.customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DB_customer",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_Incremental_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Fetch_latesttimestamp_from_ds",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from saleslt.customer where ModifiedDate >''',activity('GET_highwatermark_timestamp').output.firstRow.Prop_0,''' AND modifiedDate <= ''',  activity('Fetch_latesttimestamp_from_ds').output.firstRow.RecordDate, '''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SQL_DB_customer",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CUSTOMER_STG_JSON",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update highwatermark file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Incremental_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select''',activity('Fetch_latesttimestamp_from_ds').output.firstRow.RecordDate , ''' FROM saleslt.customer WHERE CUSTOMERID=1')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_DB_customer",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "High_water_DS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-05-13T11:31:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}